/backend/data/cookies.json
/.idea/
/source/core_scrapper/*.ipynb
/userdata/
/project_utils/commit_changes_generator/commit_changes.diff
/source/data/*.txt
/source/data/*.json
/source/linkedin_api/potential_curls/*.txt
/source/linkedin_api/potential_curls/*.json
/.env
**/*.har
/backend/linkedin/api_fetch/orchestration_curls/individual_job_curl.txt
/backend/linkedin/api_fetch/orchestration_curls/pagination_curl.txt
/backend/linkedin/api_fetch/output/combined_data.json
/backend/linkedin/api_fetch/pagination/pagination_curl.txt
/backend/linkedin/api_fetch/pagination/raw_pagination_results.json
/backend/linkedin/api_fetch/pagination/structured_pagination_results.json
/backend/linkedin/api_fetch/potential_urls/potential_curl/potential_curl.txt
/backend/linkedin/api_fetch/potential_urls/potential_curl/response.json
/backend/linkedin/api_fetch/potential_urls/potential_har/filtered_curls.json
/backend/linkedin/api_fetch/potential_urls/potential_har/linkedin.har.json
/backend/linkedin/api_fetch/single_job/raw_job_details.json
/backend/linkedin/api_fetch/single_job/structured_job_details.json
/backend/database/*.db
/backend/linkedin/api_fetch/output/*.json
/frontend/repomix-frontend.md
/backend/repomix-backend.md
/backend/.env
/frontend/public/myProfile.md
/backend/services/embeddings/cache.json
/backend/services/job_tracking/linkedin_cookie.txt
/frontend/*.env
/frontend/.env*
repomix-output.*
repomix-output.md
*repomix-output*
/frontend/frontend.md
