/backend/data/cookies.json
/.idea/
/source/core_scrapper/*.ipynb
/userdata/
/project_utils/commit_changes_generator/commit_changes.diff
/source/data/*.txt
/source/data/*.json
/source/linkedin_api/potential_curls/*.txt
/source/linkedin_api/potential_curls/*.json
/.env
**/*.har
/source/linkedin_api/entities/**/*.json
/source/linkedin_api/entities/**/*.txt
/source/linkedin_api/entities/recommended_jobs_analysis/*.txt
/source/linkedin_api/entities/applied_jobs_analysis/*.txt
/backend/linkedin_api/entities/recommended_jobs_analysis/new_approach/*.json
/backend/linkedin_api/potential_curls/potential_har/*.json
/backend/linkedin_api/potential_urls/potential_curl/*.txt
/backend/linkedin_api/potential_urls/potential_curl/*.json
/backend/linkedin_api/potential_urls/potential_har/*.json
/backend/linkedin_api/potential_urls/potential_har/*.har.json
/backend/linkedin_api/entities/new_approach/*.json
/backend/linkedin_api/entities/new_approach/pagination/*.json
/backend/linkedin_api/entities/new_approach/single_job/*.json
/backend/linkedin_api/entities/new_approach/pagination/*.txt
/backend/linkedin_api/entities/new_approach/orchestration_curls/*.txt
/backend/linkedin_api/entities/new_approach/output/*.json
/backend/linkedin_api/entities/orchestration_curls/*.txt
/backend/linkedin_api/entities/pagination/*.txt
/backend/linkedin_api/entities/pagination/*.json
/backend/linkedin_api/entities/single_job/*.json
