services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: linkedin-backend-api
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    restart: unless-stopped
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: linkedin-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

